*.pyc
__pycache__/
.devcontainer/devcontainer.env
fm_eventmanager/dev.py
fm_eventmanager/settings.py
fm_eventmanager/settings.py.bak
/static/
/venv/
/venv3/
/.venv/
db.sqlite3
test-db.sqlite3
test-db.sqlite3-journal
registration/resources/nametag/apis/tmp*.html
.idea/
.coverage
.envrc
fm_eventmanager/maintenance_mode_state.txt
localhost.crt
localhost.key
.env
htmlcov/
.DS_Store
pgdb/
node_modules/
.python-version
/registration/static/bundler/
*.tsbuildinfo