# Example environment configuration for devcontainers

# Unlike production containers, configuration here is minimal and meant for
# tailoring the environment to the developer.

# System timezone (happens to be used by settings.py)
TZ=America/New_York
